<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HamroThriftApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HamroThrift"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".view.screens.MyOrders"
            android:exported="true"
            android:label="@string/title_activity_my_orders"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.buy.DashboardActivityBuy"
            android:exported="true"
            android:label="@string/title_activity_dashboard_buy"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.components.CommonBottomBar"
            android:exported="true"
            android:label="@string/title_activity_common_bottom_bar"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.NavigationHandler"
            android:exported="true"
            android:label="@string/title_activity_navigation_handler"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.screens.AllOrdersActivity"
            android:exported="true"
            android:label="@string/title_activity_all_orders"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.screens.ProfileScreen"
            android:exported="true"
            android:label="@string/title_activity_profile_screen"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.sell.DashboardSellActivity"
            android:exported="true"
            android:label="@string/title_activity_dashboard_sell"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WelcomeAndOnboardingActivity"
            android:exported="true"
            android:label="@string/title_activity_welcome_onboarding"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.buy.NotificationActivity"
            android:exported="true"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.buy.SaleActivity"
            android:exported="true"
            android:label="@string/title_activity_sale"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HomepageActivity"
            android:exported="true"
            android:label="@string/title_activity_homepage"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HamroThrift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>